/* Import Fonts ===========================================  */

@font-face {
    font-family: 'Deutsch';
    src : url(assets/fonts/Deutsch.woff);

}

@font-face {
    font-family: 'Sans Control Regular';
    src : url(assets/fonts/SansControlRegular.woff);

}

/* General Design ===========================================  */

*{
  margin: 0px;
  padding: 0px;
}

/* pour pas que ma video depasse en largeur */
html, body {
  overflow-x: hidden;
}

/* Fonts =====================================================  */

#mainTitle{
  font-family: 'Deutsch';
  font-size: 90px;
  color: white;
  opacity: 0.8;
}

h2{
  font-family: 'Sans Control Regular';
  color: white;
}

h3{
  font-family: 'Sans Control Regular';
  color: white;
  padding-left: 5px;

}

p{
  font-family: 'Sans Control Regular';
  color: white;
}

/* Page Design ===========================================  */

/* Video ------------- */
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}


/* Section 1 ---------------------------*/

#section1 {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* espace entre haut, milieu, bas */  
}


/* Ligne du haut */
#menue {
  display: flex;
  justify-self: start;
  padding: 20px;
}

/* Titre centré */
#titre {
  display: flex;
  justify-content: center;
}

/* Ligne bas */

#tag {
  justify-content: flex-end;
  padding: 20px;

}



/* Section 2 -------------------------------*/

#section2{
  background-color: rgb(0, 0, 0);
}

#anim{
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#texteHaut{
  text-align: right;
  padding: 15px;

}

.bigText{
  font-family: 'Sans Control Regular';
  color: white;
  font-size: 70px;
  padding-left: 15px;
}

#texteBas{
  padding-left: 15px;
}



/* Section 3 -------------------------------------------------------*/
#section3{
  min-height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden; /* pour pas que le carroussel dépasse*/
}

/*----- caroussel --------------*/
#caroussel {
  display: flex;
  flex-direction: column; 
  align-items: center;   
  gap: 20px;             
}

.track {
  display: flex;
}

.photo{
  width: 500px;
}

/*-------- lien insta ----------------------*/

#instaId {
  text-align: center;
  font-size: 20px;
  opacity: 0.8;
}

#instaId {
  font-family: 'Sans Control Regular';
  color: white;
  text-align: center;
  font-size: 20px;
  opacity: 0.8;
  text-decoration: none; /* retire le soulignement */
  transition: 0.3s;
}

/*--- effet au survol */

#instaId:hover {
  opacity: 1;
  text-decoration: underline; /* souligné au survol */
}


/* Section 4 --------------------------------------*/

#section4 {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;

}


.tshirt {
  width: 200px;
  cursor: grab;
  position: relative;
  z-index: 3;
}


#mannequin {
  width: 400px;
  z-index: 1;
}


#sec4Title{
  font-size: 40px;
}



/* Responsive ==========================================================================  */


@media (max-width: 799px) {



.background-video {
  max-width: 100vw;
}

  /* ----- Section 1 --------------------------------------- */
#section1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#mainTitle {
  font-size: 13vw;
  text-align: center;
  color: white;
  opacity: 0.8;
}
#menue, #tag {
  display: flex;
  gap: 2vw;
  justify-content: center;
}

/* ----- Section 2 ------------------------------------------- */

#anim {
  display: flex;
  flex-direction: column;
}

#texteHaut, #texteBas, .bigText {
  text-align: center;
  color: white;
}

.bigText {
  font-size: 10vw;
}

#list1, #list2, #list3,#list4,#list5,#list6{
  font-size: 5vw;

}

/* ----- Section 3 ------------------------------------------ */

#caroussel {
  width: 100%;
  overflow: hidden; /* empeche le dépassement sur le coté */
}


.photo {
  width: 100vw;
  height: auto;
}

#instaId {
  font-size: 4vw;
  text-align: center;
}

/* ----- Section 4 ---------------------------------------------- */
#section4 {
  flex-direction: column;
}

#sec4Title {
  font-size: 7vw;
  text-align: center;
}

.tshirt {
  width: 40vw;
  height: auto;
}

#mannequin {
  width: 80vw;
  height: auto;
}

}

